<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="logincrud">
  
   	<resultMap type="memberdto" id="memberDtoResultMap">
 		<result property="memberid" column="MEMBER_ID"></result>
 		<result property="memberpw" column="MEMBER_PW"></result>
 		<result property="memberpwchk" column="MEMBER_PWCHK"></result>
 		<result property="membernickname" column="MEMBER_NICKNAME"></result>
 		<result property="membername" column="MEMBER_NAME"></result>
 		<result property="memberbirth" column="MEMBER_BIRTH"></result>
 		<result property="memberphone" column="MEMBER_PHONE"></result>
 		<result property="memberaddr" column="MEMBER_ADDR"></result>
 		<result property="memberemail" column="MEMBER_EMAIL"></result>
 		<result property="memberrole" column="MEMBER_ROLE"></result>
 		<result property="memberenabled" column="ENABLED"></result>
 		<result property="memberregdate" column="REGDATE"></result>
 	</resultMap>
  
  <select id="selectmemberbyidandpw" parameterType="map" resultMap="memberDtoResultMap">
  	SELECT MEMBER_ID, MEMBER_PW, MEMBER_PWCHK, MEMBER_NICKNAME,
  			MEMBER_NAME, MEMBER_BIRTH, MEMBER_PHONE, MEMBER_ADDR,
  			MEMBER_EMAIL, MEMBER_ROLE, ENABLED, REGDATE
  	FROM MEMBER
  	WHERE MEMBER_ID = #{memberid} AND MEMBER_PW = #{memberpw}
  </select>
  

  
  <select id="searchid" parameterType="map" resultMap="memberDtoResultMap">
  	SELECT MEMBER_ID
  	FROM MEMBER
  	WHERE MEMBER_NAME = #{membername} AND MEMBER_EMAIL = #{memberemail}
  	
  </select>
  
  <select id="findid" parameterType="map" resultMap="memberDtoResultMap">
  	SELECT MEMBER_ID
  	FROM MEMBER
  	WHERE MEMBER_EMAIL = #{memberemail}
  </select>
  
  <select id="findpw" parameterType="map" resultMap="memberDtoResultMap">
  	SELECT MEMBER_PW, MEMBER_PWCHK
  	FROM MEMBER
  	WHERE MEMBER_ID = #{memberid} AND MEMBER_EMAIL = #{memberemail} 
  </select>
  
  <select id="searchpw" parameterType="map" resultMap="memberDtoResultMap">
  	SELECT MEMBER_PW
  	FROM MEMBER
  	WHERE MEMBER_ID = #{memberid} AND MEMBER_NAME = #{membername} AND MEMBER_EMAIL = #{memberemail}
  	
  </select>
   
  <select id="mypagelist" parameterType="String" resultMap="memberDtoResultMap">
  	SELECT MEMBER_ID, MEMBER_PW, MEMBER_PWCHK, MEMBER_NICKNAME,
  			MEMBER_NAME, MEMBER_BIRTH, MEMBER_PHONE, MEMBER_ADDR,
  			MEMBER_EMAIL, MEMBER_ROLE, ENABLED, REGDATE
  	FROM MEMBER
  	WHERE MEMBER_ID = #{memberid}
  </select>
  
  <update id="mypageupdate" parameterType="memberdto">
  	UPDATE MEMBER
  	SET MEMBER_PW = #{memberpw},  
  		MEMBER_PWCHK = #{memberpw}, 
  		MEMBER_EMAIL = #{memberemail}
  	WHERE MEMBER_ID = #{memberid}
  </update>
  
  <update id="updateoutmember" parameterType="memberdto">
  	UPDATE MEMBER
  	SET ENABLED = #{memberenabled}
  	WHERE MEMBER_ID = #{memberid}
  </update>
  
  
</mapper>
