<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="mypage">

	<resultMap type="noticeboarddto" id="noticeboardDtoResultMap">
 		<result property="nbboardno" column="NB_BOARDNO"></result>
 		<result property="nbid" column="NB_ID"></result>
 		<result property="nbnickname" column="NB_NICKNAME"></result>
 		<result property="nbtitle" column="NB_TITLE"></result>
 		<result property="nbcontent" column="NB_CONTENT"></result>
 		<result property="nbregdate" column="NB_REGDATE"></result>
 	</resultMap>
 	
	<resultMap type="dealboarddto" id="dealBoardDtoResultMap">
		<result property="dboardno" column="D_BOARDNO"/>
		<result property="did" column="D_ID"/>
		<result property="dnickname" column="D_NICKNAME"/>
		<result property="dtitle" column="D_TITLE"/>
		<result property="dfilename" column="D_FILENAME"/>
		<result property="dcontent" column="D_CONTENT"/>
		<result property="dprice" column="D_PRICE"/>
		<result property="dregdate" column="D_REGDATE"/>
		<result property="dcategory" column="D_CATEGORY"/>
		<result property="dflag" column="D_FLAG"/>
	</resultMap>
 	
 	<resultMap type="wishlistdto" id="wishlistDtoResultMap">
	  	<result property="wlno" column="WL_NO"/>
	  	<result property="wlid"	column="WL_ID"/>
	  	<result property="wlsellnickname" column="WL_SELL_NICKNAME"/>
	  	<result property="wlboardno" column="WL_BOARDNO"/>
	  	<collection property="dealboarddto" resultMap="dealBoardDtoResultMap"></collection>
  	</resultMap> 
  	
  	
  	
  	
   	
  	<select id="wishlist" parameterType="String" resultMap="wishlistDtoResultMap">
  		SELECT W.WL_NO, D.D_TITLE, W.WL_SELL_NICKNAME, D.D_REGDATE
			FROM WISH_LIST W INNER JOIN DEAL_BOARD D ON W.WL_BOARDNO = D.D_BOARDNO 
			WHERE W.WL_ID = #{memberid} ORDER BY W.WL_NO ASC
  	</select>
  	
  	<!-- <resultMap type="wishlistdto" id="wishlistDtoJoinResultMap" extends="wishlistDtoResultMap">
	  	<association property="dealboarddto" javaType="dealboarddto">
		  	<result property="dboardno" column="D_BOARDNO"/>
			<result property="did" column="D_ID"/>
			<result property="dnickname" column="D_NICKNAME"/>
			<result property="dtitle" column="D_TITLE"/>
			<result property="dfilename" column="D_FILENAME"/>
			<result property="dcontent" column="D_CONTENT"/>
			<result property="dprice" column="D_PRICE"/>
			<result property="dregdate" column="D_REGDATE"/>
			<result property="dcategory" column="D_CATEGORY"/>
			<result property="dflag" column="D_FLAG"/>
	  	</association>
  	</resultMap>
  	
  	<resultMap type="wishlistdto" id="wishlist">
  		<result property="wlid" column="WL_ID"></result>
  		<result property="wlsellnickname" column="WL_SELL_NICKNAME"></result>
  		<result property="wlboardno" column="WL_BOARDNO"></result>
  		<collection property="dboardlist" column="WL_ID" javaType="java.util.ArrayList" ofType="wishlistdto" select="dbaordlist"></collection>
  	</resultMap> -->
  	<!-- 구매글, 판매글 -->
  	
  	
  	
	<!-- 내가 쓴 판매글 조회할거야. -->
	<select id="selllist" parameterType="String" resultMap="dealBoardDtoResultMap">
		SELECT D_BOARDNO, D_ID, D_NICKNAME, D_TITLE, D_FILENAME, D_CONTENT, D_PRICE, D_REGDATE, D_CATEGORY, D_FLAG
		FROM DEAL_BOARD WHERE D_ID = #{did} AND D_FLAG = 'S'
	</select>
	
	<!-- 내가 쓴 구매글 조회할거야. -->
	<select id="buylist" parameterType="String" resultMap="dealBoardDtoResultMap">
		SELECT D_BOARDNO, D_ID, D_NICKNAME, D_TITLE, D_FILENAME, D_CONTENT, D_PRICE, D_REGDATE, D_CATEGORY, D_FLAG
		FROM DEAL_BOARD WHERE D_ID = #{did} AND D_FLAG = 'B'
	</select>
	
	<!-- 내가 쓴 문의글 조회할거야 -->
	<select id="qnalist" parameterType="String" resultMap="noticeboardDtoResultMap">
		 SELECT QB_BOARDNO, QB_ID, QB_NICKNAME, QB_TITLE, QB_CONTENT, QB_SECRET, QB_FLAG, QB_REGDATE, QB_REDATE
		 FROM QNA_BOARD WHERE QD_ID = #{memberid}
	</select>

	<!-- 찜목록 조회할거야 -->
	<!-- <select id="wishlist" parameterType="String" resultMap="resultJoin">
		 SELECT *
			FROM WISH_LIST JOIN DEAL_BOARD 
			WHERE WL_ID = #{memberid}
	</select> -->
	
</mapper>
