<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qnaboard">

	<resultMap type="qnaboarddto" id="qnaboardDtoResultMap">
 		<result property="qbboardno" column="QB_BOARDNO"></result>
 		<result property="qbid" column="QB_ID"></result>
 		<result property="qbnickname" column="QB_NICKNAME"></result>
 		<result property="qbgroupno" column="QB_GROUPNO"></result>
 		<result property="qbgroupseq" column="QB_GROUPSEQ"></result>
 		<result property="qbtitletab" column="QB_TITLETAB"></result>
 		<result property="qbtitle" column="QB_TITLE"></result>
 		<result property="qbcontent" column="QB_CONTENT"></result>
 		<result property="qbsecret" column="QB_SECRET"></result>
 		<result property="qbregdate" column="QB_REGDATE"></result>
 	</resultMap>

	<select id="qnaselectPaging" parameterType="map" resultMap="qnaboardDtoResultMap">
	<![CDATA[
		SELECT QB_BOARDNO, QB_ID, QB_NICKNAME, QB_GROUPNO, QB_GROUPSEQ, QB_TITLETAB, QB_TITLE, QB_CONTENT, QB_SECRET, QB_REGDATE 
		FROM (SELECT row_num ,QB_BOARDNO, QB_ID, QB_NICKNAME, QB_GROUPNO, QB_GROUPSEQ, QB_TITLETAB, QB_TITLE, QB_CONTENT, QB_SECRET, QB_REGDATE  
		FROM (SELECT ROWNUM row_num, QB_BOARDNO, QB_ID, QB_NICKNAME, QB_GROUPNO, QB_GROUPSEQ, QB_TITLETAB, QB_TITLE, QB_CONTENT, QB_SECRET, QB_REGDATE  FROM QNA_BOARD) 
		WHERE row_num >= #{endNum}) 
		WHERE row_num <= #{startNum}
		ORDER BY QB_BOARDNO DESC
			]]>
	</select>
	
	<select id="count" resultType="int">
 		SELECT COUNT(*) as count FROM QNA_BOARD
 	</select>
 	
 	<select id="qnaselectListOne" parameterType="int" resultMap="qnaboardDtoResultMap">
 		SELECT QB_BOARDNO, QB_ID, QB_NICKNAME, QB_GROUPNO, QB_GROUPSEQ, QB_TITLETAB, QB_TITLE, QB_CONTENT, QB_SECRET, QB_REGDATE 
 		FROM QNA_BOARD
 		WHERE QB_BOARDNO = #{qbboardno}
 	</select>
 	
 	<delete id="qnadelete" parameterType="int">
 		DELETE FROM QNA_BOARD
 		WHERE QB_BOARDNO = #{qbboardno}
 	</delete>
 	
 	<insert id="qnainsert" parameterType="qnaboarddto">
 		INSERT INTO QNA_BOARD
	VALUES (QB_BOARDNO_SEQ.NEXTVAL, #{qbid}, #{qbnickname}, QB_GROUPNO_SEQ.NEXTVAL, 1, 0, #{qbtitle}, #{qbcontent}, #{qbsecret}, SYSDATE)
 	</insert>
</mapper>
