<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">

	<resultMap type="reportdto" id="reportDtoResultMap">
 		<result property="reportno" column="REPORT_NO"></result>
 		<result property="sendid" column="SEND_ID"></result>
 		<result property="receiveid" column="RECEIVE_ID"></result>
 		<result property="sendnickname" column="SEND_NICKNAME"></result>
 		<result property="receivenickname" column="RECEIVE_NICKNAME"></result>
 		<result property="reporttitle" column="REPORT_TITLE"></result>
 		<result property="reportcontent" column="REPORT_CONTENT"></result>
 		<result property="reportregdate" column="REPORT_REGDATE"></result>
 	</resultMap>
 	<resultMap type="memberdto" id="memberDtoResultMap">
 		<result property="memberid" column="MEMBER_ID"></result>
 		<result property="memberpw" column="MEMBER_PW"></result>
 		<result property="memberpwchk" column="MEMBER_PWCHK"></result>
 		<result property="membernickname" column="MEMBER_NICKNAME"></result>
 		<result property="membername" column="MEMBER_NAME"></result>
 		<result property="memberbirth" column="MEMBER_BIRTH"></result>
 		<result property="memberphone" column="MEMBER_PHONE"></result>
 		<result property="memberaddr" column="MEMBER_ADDR"></result>
 		<result property="memberemail" column="MEMBER_EMAIL"></result>
 		<result property="memberrole" column="MEMBER_ROLE"></result>
 		<result property="memberenabled" column="ENABLED"></result>
 		<result property="memberregdate" column="REGDATE"></result>
 	</resultMap>
 	
 	

<!-- 신고자 리스트 -->
	<select id="reportlist" resultMap="reportDtoResultMap">
		SELECT R.REPORT_NO, R.SEND_ID, R.RECEIVE_ID, R.SEND_NICKNAME, R.RECEIVE_NICKNAME,
		R.REPORT_TITLE, R.REPORT_CONTENT, R.REPORT_REGDATE
		FROM REPORT R JOIN MEMBER M ON (R.RECEIVE_ID = M.MEMBER_ID)
		WHERE M.ENABLED = 'Y'
		ORDER BY R.REPORT_NO DESC
	</select>
	<!-- 신고 내용 디테일 -->
	<select id="reportdetail" parameterType="int" resultMap="reportDtoResultMap">
		SELECT REPORT_NO, SEND_ID, RECEIVE_ID, SEND_NICKNAME, RECEIVE_NICKNAME, REPORT_TITLE, REPORT_CONTENT, REPORT_REGDATE
		FROM REPORT WHERE REPORT_NO = #{reportno}
	</select>
	<!-- 말도안되는 신고가 들어왔을 때  차단거절버튼을 눌렀을 때 그에 대한 report테이블 삭제-->
	<delete id="deletereport" parameterType="int">
		DELETE FROM REPORT WHERE REPORT_NO = #{reportno}
	</delete>
</mapper>
