<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">

	<resultMap type="reportdto" id="reportDtoResultMap">
 		<result property="reportno" column="REPORT_NO"></result>
 		<result property="sendid" column="SEND_ID"></result>
 		<result property="receiveid" column="RECEIVE_ID"></result>
 		<result property="sendnickname" column="SEND_NICKNAME"></result>
 		<result property="receivenickname" column="RECEIVE_NICKNAME"></result>
 		<result property="reporttitle" column="REPORT_TITLE"></result>
 		<result property="reportcontent" column="REPORT_CONTENT"></result>
 		<result property="reportregdate" column="REPORT_REGDATE"></result>
 	</resultMap>

	<select id="reportlist" resultMap="reportDtoResultMap">
		SELECT REPORT_NO, SEND_ID, RECEIVE_ID, SEND_NICKNAME, RECEIVE_NICKNAME, REPORT_TITLE, REPORT_CONTENT, REPORT_REGDATE
		FROM REPORT ORDER BY REPORT_NO DESC
	</select>
	
	<select id="reportdetail" parameterType="int" resultMap="reportDtoResultMap">
		SELECT REPORT_NO, SEND_ID, RECEIVE_ID, SEND_NICKNAME, RECEIVE_NICKNAME, REPORT_TITLE, REPORT_CONTENT, REPORT_REGDATE
		FROM REPORT WHERE REPORT_NO = #{reportno}
	</select>
	
</mapper>
