* {
	margin: 0px;
	padding: 0px;
}

aside {
	position: fixed;
	align: left;
	top: 90px;
	height: 100%;
	box-shadow: 1px 0px 6px black;
	z-index: 2;
}

.menubar {
	padding-top: 24px;
	background-color: white;
	color: black;
	width: 200px;
	height: 50px;
	text-align: left;
	padding-left: 40px;
	font: 16pt "Arial";
	font-weight: bold;
	cursor: pointer;
	opacity: 0.2;
}

.menubar:hover {
	padding-top: 22px;
	font: 18pt "Arial";
	opacity: 0.3;
	font-weight: bold;
}

.menubar_x {
	background-color: white;
	width: 234px;
	height: 400px;
	opacity: 0.1;
}