html,body { 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
}

$slide-width: 400px;
$slide-height: 200px;

#slider {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.slide {
    width: $slide-width;
    height: $slide-height;
    float: left;
    position: relative;
}

#slide-holder {
    width: 900%;
    position: relative;
    left: 0;
    animation: scroller 10s infinite;
}

// need a step for each slide
@keyframes scroller {
  0% { transform: translateX(0); }
  33% { transform: translateX(-$slide-width); }
  66% { transform: translateX(-$slide-width*2); }
  100% { transform: translateX(0); }
}

// additional styling
body {
  font-family: sans-serif;
}

#slider {
  margin: 0 auto;
}