* {
	margin: 0px;
	padding: 0px;
}

#menutitle {padding-left:31% !important;}

h1 {
	margin-top: 4%;
	margin-bottom: 2%;
	text-align: center;
	font-family: "Arial";
	color: white;
}

#list {
	display: flex;
	width: 80%;
	height: 50px;
	margin: 0px auto;
	margin-bottom: 1%;
}

.thislistbox {
	margin-top: 1px;
	margin-bottom: 1px;
	width: 100%;
	height: auto;
	padding-top: 1.4%;
	background-color: rgba(255,255,255,0.1);
	cursor: pointer;
}

.listbox {
	margin: 1px;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 1.4%;
	font-size: 14pt;
	font-family: "Arial";
	color: white;
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}

.listbox:hover {
	font-weight: bold;
	color: white;
	background-color: rgba(255,255,255,0.1);
}

#selllist {
	width: 80%;
	margin: 1px auto;
	font-family: "Arial";
}

tr:hover {
	background-color: rgba(255,255,255,0.3);
	font-weight: bold;
}

.hovernot:hover {background-color: rgba(255,255,255,0) !important;}

th {
	background-color: rgba(255,255,255,0.1);
	font-weight: bold;
	height: 30px;
	font-size: 14pt;
	text-align: center;
	padding-top: 0.4%;
	color: white;
}

td {
	height: 28px;
	font-size: 12pt;
	text-align: center;
	color: white;
}

a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
}

#listlast {
	background-color: rgba(255,255,255,0.5); 
	height: 2px;
}

#tracebtn {
	width: 100%; 
	height: 100%; 
	border: 2px solid rgba(255,255,255,0); 
	border-radius: 2px 2px 2px 2px; 
	cursor: pointer; 
	font-size: 12pt;
	color: white; 
	background-color: rgba(255,255,255,0.3);
	float: right;
}

#tracebtn:hover {
	font-weight: bold;
	border: 2px solid rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0);
}

#mybtn {
	width: 100px; 
	height: 28px; 
	border: 2px solid rgba(255,255,255,0); 
	border-radius: 4px 4px 4px 4px; 
	cursor: pointer; 
	color: white;
	background-color: rgba(255,255,255,0.3);
	float: right;
	margin-top: 0.4%;
	margin-right: 10.2%;
	margin-bottom: 4%;
}

#mybtn:hover {
	font-weight: bold; 
	border: 2px solid rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0);
}