    #slide{
      position: relative;
      height: 100vh;
    }

    #slide div{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }

    #slide img{
      width: 100%;
      height: auto;
    }