* {
	margin: 0px;
	padding: 0px;
}

.topbar {
	top: 0px;
	text-align : center;
	position: fixed;
	background-color: white;
	width: 100%;
	height: 14%;
	box-shadow: 0px 1px 10px #ccc;
}

#fnt_logo {
	width: 180px;
	height: 80px;
}

img {
	width: 180px;
	height: 80px;
}

.formtable {
	margin-top: 22%;
	width: 100%;
	position: relative;
}

#form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	margin-bottom: 2%;
}

p {
	color: red;
	font-size: 16pt;
}

tr {
	height: 40px;
	font-family: "Arial";
}

th {
	background-color: #dddddd;
	text-align: left;
	padding-left: 16px;
	padding-right: 10px;
}

input {
	width: 500px;
	height: 40px;
	padding-left: 10px;
	border: none;
	font-size: 12pt;
}

.in_btn {
	width: 140px;
	height: 36px;
	background-color: #dddddd;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	padding-left: 0px;
	text-align: center;
}

.in_btn:hover {
	background-color: black;
}

#resetbtn {
	background-color: #dddddd;
	cursor: pointer;
	width: 419px;
	height: 40px;
	color: white;
	font-size: 14pt;
	font-weight: bold;
	border: none;
}

#resetbtn:hover {
	background-color: black;
}

#submitbtn {
	background-color: #fee500;
	margin-left: 10px;
	cursor: pointer;
	width: 419px;
	height: 40px;
	color: black;
	font-size: 14pt;
	font-weight: bold;
	border: none;
}

#submitbtn:hover {
	color: white;
	background-color: black;
}