* {
   margin: 0px;
   padding: 0px;
}

header {
   position: fixed;
   background-color: white;
   width: 100vw;
   height: 14%;
   box-shadow: 0px 1px 10px black;
   z-index: 4;
}

#headerzone {
   display: flex;
   margin: 0 auto;
   margin-left: 7%;
}

.fnt_logo {
   width: 16%;
   height: 16%;
   margin-top: 0.5%;
}

#searchzone {
   margin-left: 8%;
   display: flex;
   flex-decoration: row;
   margin-top: 2%;
}

#searchdeal {
   width: 400px;
   height: 30px;
   padding-left: 10px;
   border: 2px solid #dedede;
}

.mysection {
   margin-left: 6%;
   display: flex;
   flex-decoration: row;
   margin-top: 2%;
}

.headerbtn {
   width: 70px;
   height: 34px;
   border: none;
   border-radius: 2px 2px 2px 2px;
   margin-left: 10px;
   cursor: pointer;
   background-color: #dedede;
}

.headerbtn:hover {
   font-weight: bold;
   background-color: #cccccc;
}

.alertbell {
   width: 20px;
   height: 20px;
   margin-left: 10px;
   margin-top: 14%;
}

#loginmsg {
   font: 12pt "Arial";
   right: 140px;
   color: black;
}

#trans {
   width: 70px;
   height: 34px;
   border: none;
   border-radius: 2px 2px 2px 2px;
   margin-left: 10px;
   color: white;
   cursor: pointer;
   background-color: #bbbbbb;
   margin-left: 10px;
}

#trans:hover {
   font-weight: bold;
   background-color: black;
}